/* Allgemeine Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-list a {
    margin: 10px;
}

.image-list img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Anpassung an rotes Farbschema und serifenlose weiße Schrift */
body {
    background-color: #ff0000; /* Hintergrundfarbe des Body auf Rot */
}

h2 {
    color: #ffffff; /* Überschriftenfarbe auf Weiß */
}

a {
    color: #ffffff; /* Linkfarbe auf Weiß */
    text-decoration: none; /* Entferne Unterstreichung von Links */
}

a:hover {
    text-decoration: underline; /* Unterstreichung bei Hover hinzufügen */
}
.image-container {
    display: flex;
}

.product-link {
    text-align: center;
    margin: 20px;
    flex: 1; /* Jedes Element soll den verfügbaren Platz gleichmäßig aufnehmen */
}

.product-link img {
    width: 200px; /* Breite der Produktbilder anpassen */
    height: auto;
}

.product-link p {
    margin-top: 10px;
}
/* CSS für die gleichmäßige Größe der Bilder */
.product-link img {
    width: 200px; /* Breite der Bilder */
    height: 200px; /* Höhe der Bilder */
}
/* Zusätzliche CSS-Stile für das Impressum */
body {
    color: #fff; /* Weißer Text */
}
/* Zusätzliche CSS-Stile für die Datenschutzerklärung */
body {
    color: #fff; /* Weiße Textfarbe */
    background-color: #ff0000; /* Hintergrundfarbe */
    font-family: Arial, sans-serif; /* Serifenlose Schriftart */
    padding: 20px; /* Innenabstand */
}

h2 {
    text-align: center; /* Zentrierte Ausrichtung des Titels */
}

a {
    color: #fff; /* Weiße Textfarbe für Links */
    text-decoration: none; /* Keine Unterstreichung für Links */
}

a:hover {
    text-decoration: underline; /* Unterstreichung bei Hover-Effekt */
}
/* Zusätzliche CSS-Stile für das Bild */
.image-container {
    display: flex;
    justify-content: center; /* Horizontal zentriert */
    align-items: center; /* Vertikal zentriert */
    height: 100vh; /* Vollständige Höhe des Viewports */
}

.image-container img {
    max-width: 100%; /* Maximale Breite des Bildes */
    max-height: 100%; /* Maximale Höhe des Bildes */
}


.back-to-website {
    text-align: center; /* Zentrieren des Textes */
    position: fixed; /* Fixieren am unteren Rand */
    top: 20px; /* Abstand vom oberen Rand */
    width: 100%; /* Vollständige Breite */
}

.back-to-website a {
    text-decoration: none; /* Keine Unterstreichung für den Link */
    color: #ffffff; /* Textfarbe */
    font-weight: bold; /* Fettschrift */
}
